*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
  border: none!important;
}
.header{
    background-color:#403c4e;
     height:90vh;
    color: #fff;
}
h2{
  font-family: 'Poiret One', cursive;

}

.navbo{
 /* background-color: aquamarine; */
 border: 1px solid black;
 display: flex;
 justify-content:space-around;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  font-family: 'Poiret One', cursive;

}

 .navbo ul li{
    display:inline-block;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
   
}


.dash{
  width: 60px;
  height: 5px;
  background-color: rgb(255, 230, 0);
}

.sumit, h1{
  font-size: 7.5rem;
  margin-top: 0;
}

.Name{
  margin-top:0;
  padding:0rem;
  background-image: url('https://unsplash.com/photos/OhKElOkQ3RE/download?force=true&w=2400');
  background-position:100% 30%;
  background-repeat:no-repeat;
  background-size:contain;
}
@media(max-width:1080px){
  .header{
    height: auto;
  }
  .navbo ul li{
   margin-left: auto
   
  }  
  
  .rotate{
    transform: translate(16px, 18px) rotate(0deg);
    position: relative;
    background-color:#403c4e;
    width: 146px;
   }

   .navbo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
   
    
   } 

  .sumit{
    font-size: 4rem;
  }

  .Name{
    padding-left: 0rem !important;
  }
}

/* SEC--SECTION ******************************************************* */

.sec-section{
  background-color:#2b2a31;
  color: #fff;
  height:100vh;
  position: relative;
}

.On-top{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -150px;
  display: flex;
  justify-content: center;
  flex-direction: row;

}
.boxer{
 width: 360px;
 height: 250px;
 display: flex;
 justify-content: center;
 align-items: center;
background-color: black;
opacity: 0.5;
padding-top: 8rem;

}
.Email{
  color:#ffe600;
}
.Experience{
  height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;

}
.Year{
  color:#ffe600;
}
.Year-p  {
  margin-right: 3rem;
  margin-left: 1rem;
  align-self:flex-end;
}
.total{
  margin-left: 2rem;
  color:#ffe600;
}

.total-p{
  align-self: flex-end;
  margin-left: 1rem;
}

@media(max-width:1200px){
  .sec-section{
    height: auto;
  }
 .On-top{
   display: none;
 }
}
/* THIRD SECTION********************************************* */


.Third-section{
   background-color:#403c4e;
   height:auto;
   color: #fff;

}

.company{
padding-top: 20rem !important;
text-align: center;
}

 .box{
  width: 300px;
  height: 400px;
  background-image: url('https://unsplash.com/photos/RLw-UC03Gwc/download?force=true');
  background-position: 100%;
  background-size:cover;
  background-repeat: no-repeat;
}

@media(max-width:1200px){
     .Third-section{
       height: auto;
     }
     .company{
      padding-top: 5rem !important;
      text-align: center;
      }
      .hidden-the-box{
        display: none;
      }
}
/* FORTH **************************************************************** */




.forth-section{
  background-color:#403c4e;
  height:110vh;
  color: #fff;
  /* border: 1px solid black; */
  align-items: center;
}


.blog-date{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
 
}


.arrow{
  color:#ffe600;
}
.blog-post{
 /* border: 1px solid black; */
 display: flex;
 flex-direction:row;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

.blog-box1{
  width: 230px;
  height: 270px;
  /* border: 1px solid black; */
  margin-right: 10px;
  background-image: url('https://unsplash.com/photos/OhKElOkQ3RE/download?force=true&w=2400');
  background-position:cover;
  background-repeat: no-repeat;
  background-size: 112% 153%;

}
.blog-box2{
  width: 600px;
  height: 300px;
  /* border: 1px solid black; */
}


.card{
  background-color:#403c4e;
}


@media(max-width:1200px){
  .blog-date{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
  }
  .forth-section{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .blog-post{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blog-box2{
         width: 330px;
         margin-top: 20px;
  }

}

/* FIFTH Containetr *************************************************************** */

.fifth{
  height:auto;
  background-color: #403c4e;
  color:#fff;

}

.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-top: 10rem;
}
@media (max-width:1080px){
  .footer{
    margin-top: 5rem;
  }
}